@media (max-width: 64em) {
    .locationList {
        height: 30vh;
        overflow: auto;
        margin-bottom: 20px;
    }
}

.forecast-title {
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}