.locationContainer {
    width: 400px;
    padding: 15px;
    color: #888;
    text-align: left;
    line-height: 35px;
}

.locationContainer h1 {
    margin: 0;
}

.weatherLocationContainer {
    width: 400px;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 10px 10px 40px -12px rgba(0,0,0,0.5);
    border-radius: 5px;
}